@tailwind base;
@tailwind components;
@tailwind utilities;

.formButton,
.formInput,
.formInputAddress,
.formInputName,
.formInputSmall,
.formInputFile,
.formButtonActive {
    padding: 1rem 1rem;
    background-color: #ffffff;
    font-weight: light;
    border-radius: 1rem;
    font-size: 1rem;
    margin: 0.5rem 0.5rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formButtonActive {
    background-color: #9333ea;
    color: #ffffff;
    font-weight: 800;
}

.formButtons {
    display: flex;
}

.profileName,
.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive,
.profileNameActive {
  all: unset;
  margin: 0.3rem 0;
  font-weight: 600;
  width: 100%;
}
.profileNameActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive {
  font-weight: 500;
}
.profileEmailActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.profileAddressActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.leafletContainer {
  height: 200px;
  overflow-x: hidden;
  margin-bottom: 3rem;
}

@media (min-width: 1024px) {
  .leafletContainer {
    height: 400px;
  }
}

.swiper-container {
  min-height: 225px;
  height: 23vw;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.swiperSlideDiv {
  position: absolute;
  width: 100%;
  height: 100%;
}

.swiperSlideImg {
  width: 100%;
  object-fit: cover;
}

.swiperSlideText {
  color: #ffffff;
  position: absolute;
  top: 70px;
  left: 0;
  font-weight: 600;
  max-width: 90%;
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
}

@media (min-width: 1024px) {
  .swiperSlideText {
    font-size: 1.75rem;
  }
}

.swiperSlidePrice {
  color: #000000;
  position: absolute;
  top: 143px;
  left: 11px;
  font-weight: 600;
  max-width: 90%;
  background-color: #ffffff;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}

@media (min-width: 1024px) {
  .swiperSlidePrice {
    font-size: 1.25rem;
  }
}
